# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
venv/

# Angular build artifacts
client/dist
client/.angular
client/coverage
client/out-tsc

# Docker
.dockerignore
docker-compose.yml
Dockerfile
